
<!-- 이미지 데이터를 직접 src 속성에 삽입 -->
<!DOCTYPE html>
<html>
<head>
    <title>Chart.js Example</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #2f3136;
            margin: 0;
            padding: 0;
        }

        section {
            padding: 100px 10px; /* 상하 100px, 좌우 10px의 padding 적용 */
            text-align: center;
            margin: 0 auto; /* 가운데 정렬을 위해 추가 */
            max-width: 960px; /* 최대 너비 설정 */
            background-color: #fff;
        }

        /* section 사이에 구분선 스타일 적용 */
        section + section {
            border-top: 1px solid #ccc; /* 회색 구분선 */
            margin-top: 3px; /* 상단 여백 추가 */
        }

        /* 링크 간격 조절 */
        section:nth-child(3) nav a {
            margin: 0 10px; /* 좌우 5px의 마진 적용 */
        }
        .disabled{
            pointer-events: none;
            cursor: default;
            }
    </style>
</head>
<body>
    <header style="background-color: #333; color: #fff; padding: 20px;">
        <div style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;">
            <div></div>
            <nav>
                <a href="http://127.0.0.1:8000/main/" style="color: #fff; text-decoration: none; padding: 10px; background-color: #555; border-radius: 5px;">Home</a>
            </nav>
        </div>
    </header>

    <section>
        <div id="Category_search">
            <input type="date" name="date" id="date_search">
            <button type="submit" id="search_button">Search</button>
        </div>
        <div style="max-width: 960px; margin: 0 auto;">
            <h1 style="font-size: 36px; margin-bottom: 20px;">카테고리별 평균 가격</h1>
            <div id="avgChart"  style="max-width: 800px; margin: 0 auto;"></div>
        </div>
    </section>

    <section>
        <div style="max-width: 960px; margin: 0 auto;">
            <h2 style="font-size: 36px; margin-bottom: 20px;">인기 TOP 10 게임의 가격</h2>
            <div id="gameChart" style="max-width: 800px; margin: 0 auto;"></div>
        </div>
    </section>
    <section>
        <div style="max-width: 960px; margin: 0 auto;">
            <h2 style="font-size: 36px; margin-bottom: 20px;">차트</h2>
            <nav>
                <a href="http://127.0.0.1:8000/category/avg_price/" style="color: #ccc; text-decoration: none; padding: 10px; background-color: #555; border-radius: 5px;" class="disabled">Average Price</a>
                <a href="http://127.0.0.1:8000/category/" style="color: #fff; text-decoration: none; padding: 10px; background-color: #555; border-radius: 5px;">About Buyer</a>
                <a href="http://127.0.0.1:8000/main/" style="color: #fff; text-decoration: none; padding: 10px; background-color: #555; border-radius: 5px;">Most Popular Games</a>
            </nav>
        </div>
    </section>
    <footer style="background-color: #333; color: #fff; padding: 20px; text-align: center;">
        <div style="max-width: 960px; margin: 0 auto;">
            <p>프로그래머스 2팀 1조</p>
        </div>
    </footer>
    <script>
        $(document).ready(function() {
            getChartData()   
            $("#search_button").click(function(event) {
                getChartData()
            });
            function getChartData(){
                var category_value = $("#category_search").val(); // 입력된 카테고리 값 가져오기
                var date = $("#date_search").val(); // 입력된 카테고리 값 가져오기
                if(!date) {
                    date = getCurrentDate();
                }
                console.log(date)
                var url =  "{% url 'category_chart_by_search_api' 'date' %}".replace('date',date);
                
                $.ajax({
                    url: url,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data)
                        updateChart(data)
                        
                    }
                });
            }
            function getByGameList(category_value){
                var date = $("#date_search").val(); // 입력된 카테고리 값 가져오기
                if(!date) {
                    date = getCurrentDate();
                }
                $.ajax({
                    url: "{% url 'category_chart_by_game' 'category_value' 'date' %}".replace('date',date).replace("category_value", category_value),
                    dataType: 'json',
                    success: function (data) {
                        console.log(data)
                        CreateBarChart(data)
                    }
                });
            }
            function updateChart(data) {
                Highcharts.chart('avgChart', {
                    chart: {
                        type: 'pie',
                        width: 800, // Pie 차트의 너비 설정
                        height: 600 // Pie 차트의 높이 설정
                    },
                    title: {
                        text: 'average price by categories'
                    },
                    // value값 뒤에 붙일 값 ex) %
                    tooltip: {
                        valueSuffix: ''
                    },
                    subtitle: {
                        text: 'top 100'
                    },
                    plotOptions: {
                        series: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            // category 이름을 보여주는 기능
                            dataLabels: [{
                                enabled: true,
                                distance: 20,
                                formatter: function() {
                                    return this.point.name
                                }
                            }, {
                                // percentage를 보여주는 기능
                                enabled: true,
                                distance: -60,
                                formatter: function() {
                                    return Highcharts.numberFormat(this.y, 0, '.', ',')+" ￦";
                                },
                                style: {
                                    fontSize: '1.2em',
                                    textOutline: 'none',
                                    opacity: 0.7
                                }
                            }],
                            events: {
                                click: function(event) {
                                    // 클릭한 데이터 포인트의 정보 출력
                                    getByGameList(event.point.name)
                                    console.log('Clicked point:', event.point.name, event.point.y);
                                }
                            }
                        }
                        
                    },
                    // insert data
                    series: [
                        {
                            // data의 이름
                            name: 'average price',
                            colorByPoint: true,
                            // {'name': ... , 'y': ...} 형식으로 여러 개를 담아 list에 넣어 전달
                            data: data.chart_data
                        }
                    ]
                });
            }
            function CreateBarChart(data) {
                var seriesData = data.chart_data.map(function(item) {
                    return {
                        name: item.name, // 시리즈의 이름으로 사용될 값
                        y: item.y // 시리즈의 데이터 값
                    };
                });
                Highcharts.chart('gameChart', {
                    chart: {
                        type: 'bar',
                        width: 800, // Pie 차트의 너비 설정
                        height: 600 // Pie 차트의 높이 설정
                    },
                    title: {
                        text: 'categories by games'
                    },
                    // value값 뒤에 붙일 값 ex) %
                    xAxis: {
                        categories: seriesData.map(function(item) {
                            return item.name; // 시리즈의 이름으로 x 축 레이블 설정
                        })
                    },
                    yAxis: {
                        title: {
                            text: 'Price'
                        }
                    },
                    plotOptions: {
                        series: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            // category 이름을 보여주는 기능
                            dataLabels: [{
                                enabled: false,
                                distance: 20,
                            }, {
                                // percentage를 보여주는 기능
                                enabled: true,
                                distance: 0,
                                formatter: function() {
                                    return Highcharts.numberFormat(this.y, 0, '.', ',')+" ￦";
                                },
                                style: {
                                    fontSize: '1.2em',
                                    textOutline: 'none',
                                    opacity: 0.7
                                }
                            }]
                        }
                        
                    },
                    // insert data
                    series: [
                        {
                            // data의 이름
                            name: 'average price',
                            colorByPoint: true,
                            // {'name': ... , 'y': ...} 형식으로 여러 개를 담아 list에 넣어 전달
                            data: data.chart_data
                        }
                    ]
                });
            }
            function getCurrentDate() {
                var currentDate = new Date(); // 현재 날짜와 시간을 포함하는 Date 객체 생성
                var year = currentDate.getFullYear(); // 연도
                var month = currentDate.getMonth() + 1; // 월 (0부터 시작하므로 1을 더해줌)
                var day = currentDate.getDate()-1; // 일

                // 월과 일이 한 자리 숫자일 경우 앞에 0을 붙여 두 자리로 만듦
                month = month < 10 ? '0' + month : month;
                day = day < 10 ? '0' + day : day;

                // 현재 날짜를 (YYYY-MM-DD) 형식으로 반환
                return year + '-' + month + '-' + day;
            }
        });
    </script>
</body>
</html>