<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
</head>
<body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- RankByTagAPIView에서 보낸 데이터를 가져옴 -->
  <div id="container" data-url="{% url 'tag_api' %}"></div>
  
  <script>
    $.ajax({
      url: $("#container").attr("data-url"),
      dataType: 'json',
      success: function (data) {
        Highcharts.chart('container', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Popular Categories By Reviews'
            },
            // value값 뒤에 붙일 값 ex) %
            tooltip: {
                valueSuffix: ''
            },
            subtitle: {
                text: 'top 10'
            },
            plotOptions: {
                series: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    // category 이름을 보여주는 기능
                    dataLabels: [{
                        enabled: true,
                        distance: 20
                    }, {
                        // percentage를 보여주는 기능
                        enabled: true,
                        distance: -40,
                        format: '{point.percentage:.1f}%',
                        style: {
                            fontSize: '1.2em',
                            textOutline: 'none',
                            opacity: 0.7
                        },
                        // value값보다 작은 percentage는 보여주지 않는다.
                        filter: {
                            operator: '>',
                            property: 'percentage',
                            value: 5
                        }
                    }]
                }
            },
            // insert data
            series: [
                {
                    // data의 이름
                    name: 'Reviews',
                    colorByPoint: true,
                    // {'name': ... , 'y': ...} 형식으로 여러 개를 담아 list에 넣어 전달
                    data: data.tot
                }
            ]
        });
        
      }
    });
  </script>

  <div id="container1" data-url="{% url 'tag_api' %}"></div>
  <script>
    $.ajax({
      url: $("#container1").attr("data-url"),
      dataType: 'json',
      success: function (data) {
        Highcharts.chart('container1', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Popular Categories By Negative Reviews'
            },
            // value값 뒤에 붙일 값 ex) %
            tooltip: {
                valueSuffix: ''
            },
            subtitle: {
                text: 'top 10 - negative'
            },
            plotOptions: {
                series: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    // category 이름을 보여주는 기능
                    dataLabels: [{
                        enabled: true,
                        distance: 20
                    }, {
                        // percentage를 보여주는 기능
                        enabled: true,
                        distance: -40,
                        format: '{point.percentage:.1f}%',
                        style: {
                            fontSize: '1.2em',
                            textOutline: 'none',
                            opacity: 0.7
                        },
                        // value값보다 작은 percentage는 보여주지 않는다.
                        filter: {
                            operator: '>',
                            property: 'percentage',
                            value: 5
                        }
                    }]
                }
            },
            // insert data
            series: [
                {
                    // data의 이름
                    name: 'Neg Reviews',
                    colorByPoint: true,
                    // {'name': ... , 'y': ...} 형식으로 여러 개를 담아 list에 넣어 전달
                    data: data.neg
                }
            ]
        });
        
      }
    });
  </script>

  <div id="container2" data-url="{% url 'tag_api' %}"></div>
  <script>
    $.ajax({
      url: $("#container2").attr("data-url"),
      dataType: 'json',
      success: function (data) {
        Highcharts.chart('container2', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Popular Categories By Positive Reviews'
            },
            // value값 뒤에 붙일 값 ex) %
            tooltip: {
                valueSuffix: ''
            },
            subtitle: {
                text: 'top 10'
            },
            plotOptions: {
                series: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    // category 이름을 보여주는 기능
                    dataLabels: [{
                        enabled: true,
                        distance: 20
                    }, {
                        // percentage를 보여주는 기능
                        enabled: true,
                        distance: -40,
                        format: '{point.percentage:.1f}%',
                        style: {
                            fontSize: '1.2em',
                            textOutline: 'none',
                            opacity: 0.7
                        },
                        // value값보다 작은 percentage는 보여주지 않는다.
                        filter: {
                            operator: '>',
                            property: 'percentage',
                            value: 5
                        }
                    }]
                }
            },
            // insert data
            series: [
                {
                    // data의 이름
                    name: 'Pos Reviews',
                    colorByPoint: true,
                    // {'name': ... , 'y': ...} 형식으로 여러 개를 담아 list에 넣어 전달
                    data: data.pos
                }
            ]
        });
        
      }
    });
  </script>
</body>
</html>