<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Sellers Trend Dashboard By Tag</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #2f3136;
            margin: 0;
            padding: 0;
        }

        section {
            padding: 100px 10px; /* 상하 100px, 좌우 10px의 padding 적용 */
            text-align: center;
            margin: 0 auto; /* 가운데 정렬을 위해 추가 */
            max-width: 960px; /* 최대 너비 설정 */
            background-color: #fff;
        }

        /* section 사이에 구분선 스타일 적용 */
        section + section {
            border-top: 1px solid #ccc; /* 회색 구분선 */
            margin-top: 3px; /* 상단 여백 추가 */
        }

        /* 링크 간격 조절 */
        section:nth-child(3) nav a {
            margin: 0 10px; /* 좌우 5px의 마진 적용 */
        }
        
    </style>
</head>
<body>

    <header style="background-color: #333; color: #fff; padding: 20px;">
        <div style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;">
            <div></div>
            <nav>
                <a href="http://127.0.0.1:8000/main/" style="color: #fff; text-decoration: none; padding: 10px; background-color: #555; border-radius: 5px;">Home</a>
            </nav>
        </div>
    </header>

    <section>
        <div style="max-width: 960px; margin: 0 auto; text-align: center;">
            <h1 style="font-size: 36px; margin-bottom: 100px; margin-top: 0;">Top Sellers Trend Dashboard By Tag</h1>
            <div id="container" data-url="{% url 'barchart_api' %}"></div>
        </div>
    </section>


<section>
    <div style="max-width: 960px; margin: 0 auto;">
        <h2 style="font-size: 36px; margin-bottom: 20px;">차트</h2>
        <div id="wrapper">
            <h1>My Works</h1>
            </div>
        <nav>
            <a href="http://127.0.0.1:8000/tag/" style="color: #fff; text-decoration: none; padding: 10px; background-color: #555; border-radius: 5px;">Popular Categories</a>
            <a href="http://127.0.0.1:8000/category/avg_price/" style="color: #fff; text-decoration: none; padding: 10px; background-color: #555; border-radius: 5px;">Average Price</a>
            <a href="http://127.0.0.1:8000/buyers/" style="color: #fff; text-decoration: none; padding: 10px; background-color: #555; border-radius: 5px;">About Buyer</a>
        </nav>
        <br>
        <br>
        <div class="toggles">
            <input type="checkbox" id="showall" name="showall" style="display: none;">
            <label for="showall" class="checkbox-label" style="display: inline-block; margin-bottom: 5px; padding: 5px; border:3px solid #707070; cursor: pointer;">All</label>
            {% for category, count in top_categories %}
                <input type="checkbox" id="{{ category }}" name="category{{ forloop.counter }}" value="{{ category }}" style="display: none;">
                <label for="{{ category }}" class="checkbox-label" style="display: inline-block; padding: 5px; border:3px solid #707070; cursor: pointer;">{{ category }}</label>
            {% endfor %}
        <br>
        <br>
        <div class="posts">
            <ul style="padding-left: 0;">
                <p style="background-color: #5759c6; color: #fff; padding: 10px; margin-bottom: 5px;"><b>해당 카테고리 게임들의 인기 순위</b></p>
                {% for game in games %}
                    <li class="post {{ game.categories }}"style="margin-right: 50px; margin-left: 50px; background-color:  #d1f3ff; padding: 10px; margin-bottom: 5px; list-style-type: none;" > {{ forloop.counter }}. {{ game.game_name }}</li>                    
                {% endfor %}
            </ul>
        </div> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(function() {
                $('input[type="checkbox"]').change(function(){
                    var category = this.id;
                    var get_current = $('.posts .post').filter(function() {
                        return $(this).attr('class').indexOf(category) !== -1;
                    });
    
                    if ($(this).is(':checked')) {
                        get_current.show(500);
                    } else {
                        $('.post').not(get_current).hide(500);
                    }
    
                    // 클릭된 체크박스에 'checked' 클래스를 추가하고 나머지 체크박스에서는 해당 클래스를 제거
                    $('input[type="checkbox"]').next().removeClass('checked');
                    if ($(this).is(':checked')) {
                        $(this).next().addClass('checked');
                    }
                });
                    
                $('#showall').change(function() {
                    if ($(this).is(':checked')) {
                        $('.post').show(500);
                        $('input[type="checkbox"]').prop('checked', false); // 모든 체크박스 해제
                        $('.checkbox-label').removeClass('checked'); // 모든 라벨에서 'checked' 클래스 제거
                        $(this).next().addClass('checked'); // 'Show All' 버튼에 'checked' 클래스 추가
                    }
                });
            }); 
        </script>
        <script>
        $.ajax({
            url: $("#container").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        align: 'left',
                        text: 'Click the columns to view relational categories'
                    },
                    subtitle: {
                    },
                    accessibility: {
                        announceNewData: {
                            enabled: true
                        }
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                format: '{point.y}'
                            }
                        }
                    },
                
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
                    },
                
                    series: [
                        {
                            name: 'Categories',
                            colorByPoint: true,
                            data: data.tot
                        }
                    ],
                    drilldown: {
                        breadcrumbs: {
                            position: {
                                align: 'right'
                            }
                        },
                        series: data.sim
                    }
                });
            }
        });
    </script>
</body>
</html>
